<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>Kitchen KDS</title>
</head>

<body>
    <header>
        <h2><a href="/"><i class="fas fa-code"></i>
                Kitchen KDS</a></h2>
    </header>
    <div class="container">
        {{{body}}}

        <form action="/api/orders" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">Customer Name</label>
                <input type="input" class="form-control" id="exampleInputEmail1" placeholder="Enter customer name"
                    name="name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Item</label>
                <input type="input" class="form-control" id="exampleInputPassword1" placeholder="Enter item ordered..."
                    name="item">
            </div>

            <button type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    </div>


    <script src="scripts/script.js"></script>
</body>

</html>